body {
  width: 100%;
  background-color: #ffffff;
  background-image: url("src/images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


html, body {
  overflow-x: hidden;
}