@tailwind base;
@tailwind components;
@tailwind utilities;

.shiny-card {
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.shiny-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
          120deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.2) 50%,
          rgba(255, 255, 255, 0.1) 100%
  );
  transform: rotate(30deg);
  transition: transform 0.5s ease-in-out;
  opacity: 0;
  border-radius: inherit;
}

.shiny-card:hover {
  transform: translateY(-1.5rem);
}

.shiny-card:hover::before {
  transform: translateX(100%) rotate(30deg);
  opacity: 1;
}


::-webkit-scrollbar {
  width: 0.5vw; 
}

::-webkit-scrollbar-track {
  background: whitesmoke; 
  opacity: 0.2; 
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 3rem; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-top: 8px solid lavender;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
