name: Add SSH Public Key

on:
  push:
    branches: [main]

jobs:
  add-public-key:
    runs-on: ubuntu-latest

    steps:
      - name: Add public key to authorized_keys on server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: 22
          script: |
            mkdir -p ~/.ssh
            echo "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAWO38gunWq2aTzV0qVKWGprL1Jmf36/mrfzoGZkaMKL mcveigth@Chappie" >> ~/.ssh/authorized_keys
            chmod 700 ~/.ssh
            chmod 600 ~/.ssh/authorized_keys
            echo "Public key added successfully."
            
